body {
	margin: 0;
}

.content {
	background: #333;
	min-height: 100vh;
}

#canvas {
	margin-left: calc(50% - 250px);
	margin-top: 30px;
}

p.info {
	text-align: center;
	color: #fff;
	font-family: monospace;
	margin-bottom: 0;
}

p.info > a {
	color: #ccc !important;
}